*.iml
*.log
*.pem
*.apk
*.aab
.gradle
/local.properties
/.idea/caches
/.idea/sonarlint
/.idea/codeStyles
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
