<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <queries>
        <intent>
            <action
                android:name="android.speech.RecognitionService" />
        </intent>
        <intent>
            <action android:name="android.intent.action.TTS_SERVICE" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.App"
        tools:targetApi="31" >

        <activity
            android:name=".ChatsListActivity"
            android:exported="true"
            android:theme="@style/Theme.App"
            android:launchMode="singleTask">

            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER"/>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ChatActivity"
            android:exported="false"
            android:theme="@style/Theme.App"
            android:launchMode="singleTask">
        </activity>

        <activity
            android:name=".onboarding.WelcomeActivity"
            android:exported="false"
            android:theme="@style/UI.Fade"
            android:launchMode="singleTask">
        </activity>

        <activity
            android:name=".onboarding.TermsActivity"
            android:exported="false"
            android:theme="@style/UI.Fade"
            android:launchMode="singleTask">
        </activity>

        <activity
            android:name=".onboarding.ActivationActivity"
            android:exported="false"
            android:theme="@style/UI.Fade"
            android:launchMode="singleTask">
        </activity>

        <activity
            android:name=".settings.SettingsActivity"
            android:exported="false"
            android:theme="@style/UI.Fade"
            android:launchMode="singleTask">
        </activity>

        <activity
            android:name=".DebugActivity"
            android:exported="false"
            android:theme="@style/UI.Fade"
            android:launchMode="singleTask">
        </activity>

        <activity
            android:name=".ui.MicrophonePermissionScreen"
            android:exported="false"
            android:theme="@style/Theme.Transparent"
            android:launchMode="singleTask">
        </activity>

        <activity
            android:name=".ImageBrowserActivity"
            android:exported="false"
            android:theme="@style/UI.Fade"
            android:launchMode="singleTask">
        </activity>
    </application>
</manifest>